html {
    zoom: 1 !important;
    -webkit-text-size-adjust: 100% !important;
    -moz-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
}

body {
    all: initial;
    display: block;
    box-sizing: border-box;
    user-select: none;
    margin: 20px 0;
    background-color: #f1f1f1;
    padding: 0;
    font-family: InterVariable, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    zoom: 1 !important;
}

.doc-content {
    all: initial;
    display: block;
    box-sizing: border-box;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 841pt;
    width: 595pt;
    background-color: #fffffe;
    padding: 40px;
    font-family: inherit;
    font-size: 10.5pt;
    line-height: 12.5pt;
    contain: layout style;
}

